{% extends "/keops/web/base.html" %}
{% import "/keops/web/include/menu-utils.html" as menu_utils %}
{% block content %}
  <div id="page-content">

  <!-- Fixed navbar -->
  <nav id="header" class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" role="button">
        {{ settings.COMPANY_NAME }}
      </a>
    </div>
    <div class="header-link hide-left-menu">
      <i class="fa fa-bars"></i>
    </div>
    <div class="small-logo">
      <span id="current-menu-name">{{ current_menu.name }}</span>
    </div>
    <div id="navbar" class="navbar-collapse">
      <ul class="nav navbar-nav hidden-xs">
        <li class="navbar-search">
          <label class="append-icon">
            <input id="navbar-search" type="text" class="navbar-search-control" placeholder="{{ _('Find resources here...') }}">
            <i class="icon fa fa-search"></i>
          </label>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Shortcuts <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-haspopup="true" aria-expanded="true">
          </ul>
        </li>
        <li><a href="javascript:void(0);" data-action="voiceCommand" title="Execute command voice"><i
            class="fa fa-microphone"></i></a></li>
      </ul>
      <ul id="static-nav" class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void(0);" data-action="messages" title="View notifications" class="dropdown-toggle"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <!--
            <span class="label label-warning label-menu-corner">32</span>
            -->
          </a>
          <ul class="dropdown-menu dropdown-notifications-menu animated flipInY">
          </ul>

        </li>
        <li class="hidden-xs">
          <a href="javascript:void(0);" data-action="fullScreen" title="Full Screen">
            <i class="fa fa-arrows-alt"></i>
          </a>
        </li>
        <li><a href="/web/logout/" title="Logout"><i class="fa fa-lg fa-sign-out"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>



    <!-- Left Menu -->
    <aside id="left-menu" class="sidebar skin">
      <div class="logo-area">
        <a href="index.html" class="avatar">
          <img id="avatar" src="/static/assets/img/user-avatar.jpg" alt="avatar" class="img-circle">
        </a>
        <div class="user-info">
          <span>&nbsp;</span><br>
          <span class="user-value">0</span><span> Messages</span><br>
          <span class="user-value">0</span><span> Notifications</span>
        </div>
        <a class="user-profile-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>{{ request.user }}</span>
          <span class="user-dropdown"><i class="fa fa-fw fa-angle-down"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/web/logout/"><i class="fa fa-fw fa-sign-out"></i> Finalizar Sessão</a></li>
        </ul>
      </div>
      <div class="module-menu">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_menu.name }} <i class="pe pe-7s-right-arrow pull-right"></i></a>
        <ul class="dropdown-menu animated fadeIn">
          {% for m in menu %}
            <li><a href="/web/menu/{{ m.pk }}/"><i class="fa fa-fw fa-pie-chart"></i> {{ m.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <!-- menu -->
      <nav class="sidebar-nav">
        <ul id="left-side-menu" class="nav" aria-expanded="false">
        {% if current_menu %}
          {% if groups %}
            {% for menu in current_menu.children.filter(groups__in=groups) %}
              {{ menu_utils.menu_item(menu, groups) }}
            {% endfor %}
          {% else %}
            {% for menu in current_menu.children.all() %}
              {{ menu_utils.menu_item(menu, groups) }}
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul>
      </nav>
      <!-- /menu -->


    </aside>

    <!-- End Left Menu -->

  <div id="main-content" role="main" style="min-height: 1000px;">

    {% block app_content %}
    <div ng-view></div>
    {% endblock %}

  </div> <!-- /container -->
  <footer id="footer" class="page-footer">
    <div class="pull-right">
      Log Histórico
    </div>
    &copy; Katrid 2015-2016
  </footer>

<!--  <div id="demo-settings" title="Theme settings">
    <span class="demo"><i class="fa fa-lg fa-gear"></i></span>
  </div>
-->

  </div>

{% endblock %}
{% block page_loaded %}
  <script src="/static/api/1.5/views.js"></script>
  <script src="/static/api/1.5/speech.js"></script>
  <script>
  $('li.menu-item a').click(function () {
    if ($(this).attr('href') && ($(this).attr('href') != 'javascript:void(0)')) {
      $('li.menu-item a.selected').removeClass('selected');
      $(this).addClass('selected');
    }
    return true;
  })


  $(document).ready(function () {
    // start metisMenu
    $('#left-side-menu').metisMenu({toggle: false});

    // navbar search
    var items = [];
    $('.menu-item>a').each(function (idx, el) {
      el = $(el);
      items.push({href: el.attr('href'), name: el.text().trim()});
    });
    Katrid.Speech.voiceCommand.addCommands(items);
    var el = $('#navbar-search').autocomplete(
        {
          source: function (request, response) {
            var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
            response($.grep(items, function (value) {
              return matcher.test(value.name);
            }));
          },
          select: function (ev, ui) {
            if (ui.item) window.location.href = ui.item.href;
            el.val(ui.item.name);
          }
        });
    el.data('ui-autocomplete')._renderItem = function (ul, item) {
      console.log('<a href="' + item.href + '">' + item.name + '</a>');
      return $('<li></li>')
          .data('item.autocomplete', item)
          .append('<div>' + item.name + '</div>')
          .appendTo(ul);
    };
  });
  </script>
{% endblock %}