<!DOCTYPE html>
<html lang="pt-br" ng-app="keopsApp">
	<head>
		<meta charset="utf-8">
		<title><%block name="title">Keops</%block></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" media="screen" href="${STATIC_URL}admin/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" media="screen" href="${STATIC_URL}admin/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="${STATIC_URL}admin/css/smartadmin-production-plugins.css">
		<link rel="stylesheet" type="text/css" media="screen" href="${STATIC_URL}admin/css/keops-app.css">
		<link rel="stylesheet" type="text/css" media="screen" href="${STATIC_URL}admin/css/keops.css">

		<link rel="shortcut icon" href="${STATIC_URL}admin/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="${STATIC_URL}admin/img/favicon/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <%block extrahead></%block>
    <meta name="robots" content="NONE,NOARCHIVE" />
	</head>
	<body class="">

		<!-- #HEADER -->
		<header id="header">
			<div id="logo-group">

				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo"> <img src="${STATIC_URL}admin/img/logo.png" alt="Katrid"> </span>
				<!-- END LOGO PLACEHOLDER -->

				<!-- Note: The activity badge color changes when clicked and resets the number to 0
					 Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
				<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

				<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
				<div class="ajax-dropdown">

					<!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/mail.html">
							Msgs (14) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/notifications.html">
							notify (3) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/tasks.html">
							Tasks (4) </label>
					</div>

					<!-- notification content -->
					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>
					<!-- end notification content -->

					<!-- footer: refresh area -->
					<span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>
					<!-- end footer -->

				</div>
				<!-- END AJAX-DROPDOWN -->
			</div>

			<!-- #MODULES: modules dropdown -->
			<div class="project-context hidden-xs">

				<span class="label">${_('Modules')}:</span>
				<span class="project-selector dropdown-toggle" data-toggle="dropdown">${_('Available modules')} <i class="fa fa-angle-down"></i></span>

				<ul class="dropdown-menu">
  				<%block name="main_menu">
            % for m in root_menu:
            <li><a href="/client/menu/${m.id}/">${m}</a></li>
            % endfor
          </%block>
				</ul>

			</div>
			<!-- end modules dropdown -->
			
			<!-- #TOGGLE LAYOUT BUTTONS -->
			<!-- pulled right: nav area -->
			<div class="pull-right">
				
				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->
				
				<!-- #MOBILE -->
				<!-- Top menu profile link : this shows only when top menu is active -->
				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
							<img src="${STATIC_URL}admin/img/avatars/sunny.png" alt="John Doe" class="online" />
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
							</li>
						</ul>
					</li>
				</ul>

				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->

				<!-- search mobile button (this is hidden till mobile view port) -->
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				<!-- end search mobile button -->
				
				<!-- fullscreen button -->
				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>
				<!-- end fullscreen button -->

				<div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
					<div>
						<a href="javascript:void(0)" title="${_('Voice Command')}" data-action="voiceCommand"><i class="fa fa-microphone"></i></a>
						<div class="popover bottom"><div class="arrow"></div>
							<div class="popover-content">
								<h4 class="vc-title">Voice command activated <br><small>Please speak clearly into the mic</small></h4>
								<h4 class="vc-title-error text-center">
									<i class="fa fa-microphone-slash"></i> Voice command failed
									<br><small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
									<br><small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
								</h4>
								<a href="javascript:void(0);" class="btn btn-success" onclick="commands.help()">See Commands</a>
								<a href="javascript:void(0);" class="btn bg-color-purple txt-color-white" onclick="$('#speech-btn .popover').fadeOut(50);">Close Popup</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
		<aside id="left-panel">

			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is --> 
					
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="${STATIC_URL}admin/img/avatars/sunny.png" alt="me" class="online" />
						<span>
							${request.user}
						</span>
						<i class="fa fa-angle-down"></i>
					</a> 
					
				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION -->
      <%def name="submenu(menu)">
        <%
          mset = menu.menu_set.all()
        %>
        % if mset:
          <ul>
            % for sm in mset:
            <li>
              <a href="${sm.action_url or 'javascript:void(0)'}">${sm.name}</a>
              ${submenu(sm)}
            </li>
            % endfor
          </ul>
        % endif
      </%def>

			<nav id="left-menu">
				<ul>
          <%block name="left_menu">
            % for m in menu:
              <li>
                <a href="${m.action_url or 'javascript:void(0)'}">
                  ${m.html_icon} <span class="menu-item-parent">${m.name}</span>
                </a>
                ${submenu(m)}
              </li>
            % endfor
          </%block>
				</ul>
			</nav>

			
			<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<!-- END NAVIGATION -->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>
				</span>

				<ol class="breadcrumb">
          <li><a href="#" class="btn btn-xs">Shortcut</a></li>
				</ol>
			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
        <%block name="content">
          <div ng-view></div>
        </%block>
			</div>
			
			<!-- END #MAIN CONTENT -->

		</div>
		<!-- END #MAIN PANEL -->

		<!-- #PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">Keops <span class="hidden-xs"> - Business Framework</span> © 2014-2015</span>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- END FOOTER -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script src="${STATIC_URL}libs/plugins/masked-input/jquery.maskedinput.min.js"></script>
		<script src="${STATIC_URL}libs/plugins/select2/select2.js"></script>
    <script src="${STATIC_URL}libs/plugins/select2/select2_locale_pt-BR.js"></script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="${STATIC_URL}admin/js/app.config.js"></script>

		<!-- BOOTSTRAP JS -->
		<script src="${STATIC_URL}admin/js/bootstrap/bootstrap.min.js"></script>

    <script src="${STATIC_URL}libs/angular/angular.min.js"></script>
    <script src="${STATIC_URL}libs/angular/angular-route.min.js"></script>
    <script src="${STATIC_URL}libs/angular/angular-cookies.min.js"></script>
    <script src="${STATIC_URL}libs/angular/angular-sanitize.min.js"></script>
    <script src="${STATIC_URL}libs/angular/i18n/angular-locale_pt-br.js"></script>
    <script src="${STATIC_URL}libs/angular/ui-bootstrap-tpls-0.12.1.min.js"></script>

		<script src="${STATIC_URL}admin/js/components.js"></script>
		<script src="${STATIC_URL}admin/js/keops.js"></script>

		<!-- MAIN APP JS FILE -->
		<script src="${STATIC_URL}admin/js/app.js"></script>
  </body>
</html>