td.DecimalField,
th.DecimalField {
  text-align: right;
}
.page-badge-ref {
  position: absolute;
  right: 50px;
  top: 20px;
}
.modal {
  z-index: 9999;
}
.tab-pane {
  padding-top: 10px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.select2-container {
  width: 100%;
}
.select2-container .select2-choice {
  border-radius: 2px;
  height: 30px;
}
.select2-container .select2-choice .select2-arrow {
  border-radius: 0 2px 2px 0;
}
section div.checkbox {
  margin-top: 6px;
  margin-bottom: 6px;
}
.pagination-area {
  display: inline-block;
  margin: 0 6px 0 0;
}
.search-view .select2-container-multi .select2-choices .select2-search-choice {
  padding-left: 3px;
  padding-right: 18px;
}
.search-view .select2-container-multi .select2-choices .select2-search-choice .search-term {
  margin-left: 6px;
}
.search-view .select2-container-multi .select2-search-choice-close {
  left: inherit;
}
.form-label {
  font-weight: 600;
}
.form-field-readonly {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  border-left: 3px solid #e7e7e7;
}
.table > tbody > tr > td.list-column-delete,
.table > thead > tr > th.list-column-delete {
  padding: 5px;
  text-align: center;
}
.table > tbody > tr {
  cursor: pointer;
}
label.checkbox {
  margin: 0;
}
section.form-group {
  min-height: 59px;
}
input[type=text].form-field:required {
  background-color: #eaebff;
}
input[type=text].form-field.ng-dirty {
  background-color: #fffdf1;
}
input[type=text].form-field.ng-touched.ng-invalid {
  border-color: #c64b49;
  background-color: #fff5f5;
}
.ui-menu-item > .ui-menu-item-wrapper {
  padding: 2px 4px;
}
ul.ui-autocomplete {
  z-index: 99999;
}
