.search-area .search-view {
  padding: 2px 25px 3px 4px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  position: relative;
}
.search-area .search-view .search-view-more {
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 7px;
  left: auto;
  bottom: auto;
}
.search-area .search-view .search-view-input {
  border: none;
  padding: 0;
  width: 100px;
  min-height: 22px;
  -ms-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: none;
  display: block;
}
.search-area .facet-view {
  border: 1px solid #777777;
  background: #e9e9f1;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  margin: 1px 3px 0 0;
  -ms-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}
.search-area .facet-view .facet-values-separator {
  font-style: italic;
}
.search-area .facet-view .facet-label {
  background-color: #777777;
  -ms-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  padding: 0 3px;
  color: white;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.search-area .facet-view .facet-value {
  padding: 0 18px 0 6px;
}
.search-area .facet-view .facet-remove {
  cursor: pointer;
  color: #777777;
  -ms-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  width: 18px;
}
.search-area .facet-view .facet-remove:hover {
  color: #555555;
}
.search-area .search-view-menu {
  width: 100%;
}
.search-area .search-view-menu li {
  padding-left: 25px;
  position: relative;
}
.search-area .search-view-menu li .indent {
  padding-left: 40px;
}
.search-area .search-view-menu li .expandable {
  position: absolute;
  top: auto;
  left: 6px;
  bottom: auto;
  right: auto;
  padding: 3px 5px;
}
.search-area .search-view-menu li .expandable::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  border-right: 0;
  border-top: 4px solid transparent;
}
.search-area .search-view-menu li .expanded {
  position: absolute;
  top: auto;
  left: 6px;
  bottom: auto;
  right: auto;
  padding: 3px;
}
.search-area .search-view-menu li .expanded::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  -moz-transform: scale(0.9999);
}
.input-group.date .input-group-addon {
  padding-top: 6px;
}
.data-panel tr.group-header {
  background-image: linear-gradient(to bottom, #fdfdfd, #e5e5e5);
  font-weight: 600;
}
.data-panel tr.group-header td {
  border-left: none;
  border-right: none;
  background-color: transparent;
}
#loading-msg {
  position: fixed;
  border-radius: 2px;
  top: 0;
  right: 50%;
  opacity: .6;
  color: white;
  text-align: center;
  padding: 4px 12px;
  z-index: 9999;
  background-color: #333333;
  -webkit-box-shadow: 2px 4px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 9px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 9px -1px rgba(0, 0, 0, 0.75);
}
.btn-voice-command.active {
  color: red !important;
}
td.DecimalField,
th.DecimalField {
  text-align: right;
}
.page-badge-ref {
  position: absolute;
  right: 50px;
  top: 20px;
}
.modal {
  z-index: 9999;
}
.tab-pane {
  padding-top: 10px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.select2-container {
  width: 100%;
}
.select2-container .select2-choice {
  border-radius: 2px;
  height: 30px;
}
.select2-container .select2-choice .select2-arrow {
  border-radius: 0 2px 2px 0;
}
section div.checkbox {
  margin-top: 6px;
  margin-bottom: 6px;
}
.pagination-area {
  display: inline-block;
  margin: 0 6px 0 0;
}
.search-view .select2-container-multi .select2-choices .select2-search-choice {
  padding-left: 3px;
  padding-right: 18px;
}
.search-view .select2-container-multi .select2-choices .select2-search-choice .search-term {
  margin-left: 6px;
}
.search-view .select2-container-multi .select2-search-choice-close {
  left: inherit;
}
.form-label {
  font-weight: 600;
}
.form-field-readonly {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  border-left: 3px solid #e7e7e7;
}
.table > tbody > tr > td.list-column-delete,
.table > thead > tr > th.list-column-delete {
  padding: 5px;
  text-align: center;
}
.table > tbody > tr {
  cursor: pointer;
}
label.checkbox {
  margin: 0;
}
section.form-group {
  min-height: 59px;
}
input[type=text].form-field:required {
  background-color: #eaebff;
}
input[type=text].form-field.ng-dirty {
  background-color: #fffdf1;
}
input[type=text].form-field.ng-touched.ng-invalid {
  border-color: #c64b49;
  background-color: #fff5f5;
}
.ui-menu-item > .ui-menu-item-wrapper {
  padding: 2px 4px;
}
ul.ui-autocomplete {
  z-index: 99999;
}
.form-control.readonly {
  background-color: #f6f6f6;
}
