<div>
    <form id="report-form" action="/web/reports/report/" method="get">
      <div class="col-sm-12">
        <table class="col-sm-12" style="margin-top: 20px;">
          <tr>
            <td colspan="2" style="padding-top: 8px;">
              <label>{{ _('My reports') }}</label>
              <input type="hidden" name="file" value="{{ request.GET.file }}">
              <select name="load" class="form-control" onchange="this.form.submit()">
                  <option></option>
                {% for rep in user_reports %}
                  <option value="{{ rep.id }}"{% if user_report.pk == rep.id %} selected{% endif %}>{{ rep.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
        </table>
      </div>

      {% include "keops/reports/dialogs/params.html" %}
      <hr>
        <table class="col-sm-12">
          <tr>
            <td class="col-sm-4">
              <select class="form-control" ng-model="newParam">
                <option>--- {{ _('FILTERS') }} ---</option>
                {% for field in fields %}
                  <option value="{{ field.name }}">{{ field.label }}</option>
                {% endfor %}
                {% for rep in reports %}
                  <option value="{{ rep.filename }}">{{ rep.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td class="col-sm-8">
              <button class="btn btn-default" type="button" ng-click="Katrid.Reports.Reports.currentReport.addParam(newParam)"><i class="fa fa-plus fa-fw"></i> {{ _('Add Parameter') }}
              </button>
            </td>
          </tr>
        </table>
    </form>

  <script>
      var cont = $('#report-params');
      var scope = angular.element(cont).scope();
      {% if report %}
      {% if user_params %}
        Katrid.Reports.Reports.currentUserReport.params = {{ user_report.user_params|safe }};
      {% endif %}
      var report = {{ report|safe }};
      report = new Katrid.Reports.Report(report, scope);
      var el = report.render(cont, scope);
      {% endif %}
  </script>
</div>
